In [ ]:
import re
import csv

In [ ]:
with open('../Tarea2/pubmed-dengue-set.nbib') as f:
    my_text = f.read()

In [ ]:
len(my_text)

526538

In [ ]:
my_text = re.sub(r'\n\s{6}', ' ', my_text)

In [ ]:
country = re.findall(r'[,]+[\s]+[\w]+[.=$]|[,]+[\s]+[\w]+[\s]+[\w]+[.=$]', my_text)

In [ ]:
len(country)

592

In [ ]:
country[:10]

[', Cuba.',
 ', USA.',
 ', India.',
 ', India.',
 ', and control.',
 ', USA.',
 ', The Netherlands.',
 ', The Netherlands.',
 ', Viet Nam.',
 ', USA.']

In [32]:
characters = ",.\s"

string = ''.join( x for x in country if x not in characters)
print(string)

, Cuba., USA., India., India., and control., USA., The Netherlands., The Netherlands., Viet Nam., USA., Philippines.,  with 13., Brazil., Brazil., Brazil., Brazil., Brazil., Brazil., Brazil., Brazil., Brazil., Brazil., Brazil., Brazil., USA., Brazil., Brazil., Qatar., Qatar., Qatar.,  France., France.,  France., UK., Ave., N., Mexico., Mexico., Ave., N., Mexico., Mexico., CP., Mexico., Mexico.,  Malaysia., Ave., N., Mexico., UK., UK., USA., UK., UK., UK., UK., UK., UK., UK., Australia., USA., USA., USA., USA.,  USA., India., USA., Singapore., Singapore., Singapore.,  Singapore., Singapore., USA., UK., UK., Vietnam., Maryland., Maryland., Maryland., Brazil., and leukopenia., Ludhiana., Chennai., Ltd., Sri Lanka., UK., Sri  Lanka., Singapore., California., are  scarce., USA.,  USA., USA., genus Flavivirus., Australia., Vietnam., Malaysia., Malaysia., Malaysia., Malaysia., Malaysia.,  Malaysia., Malaysia., Malaysia., USA., USA., USA., British Columbia., UK., UK.,  Georgia., Switzerland., Aedes albopictus., Portugal.,  Pakistan.,  Pakistan.,  Pakistan.,  Pakistan.,  Pakistan., Pakistan., Treatment., Japan., USA., Nepal., UK., India., Turkey., Belize., Costa  Rica., Sweden., India., USA., PR., PR., N., U., P., simultaneously., India., with 2., UK., France., ROC.,  ROC.,  ROC., ROC., and thrombocytopenia., etc., India., Brasil., and thrombocytopenia.,  Thailand., Switzerland., Switzerland., Congo., UK., Switzerland., Colombia., Honduras., Honduras., Panama.,  USA., USA.,  Thailand., Thailand., P., United States., Indonesia., Philippines., Philippines., Indonesia., UK., Philippines., USA., Indonesia., 85., and 66.,  respectively., Australia., Australia., Australia., Australia., Australia., Thailand., Thailand., UK., Australia., Australia.,  Australia., Australia., Australia., Australia., India., USA., Colombia., Colombia., Colombia., Mexico., A., CO 80522., 94., Bangladesh., Bangladesh., Bangladesh., Bangladesh., Bangladesh.,  Bangladesh.,  Bangladesh.,  Bangladesh.,  Bangladesh.,  Bangladesh.,  Bangladesh., Australia.,  Bangladesh., Bangladesh., PerÃº., PerÃº., PerÃº., PerÃº., PerÃº., France., Thailand., United States., United States., Thailand., Thailand., United States.,  Brazil.,  Brazil., Brazil.,  Brazil., SLACK Incorporated., USA., Germany., Singapore., Singapore., Singapore.,  etc., Mexico., Cuba., Malaysia., Mexico., Singapore., Cuba., Mexico., N., N., New Caledonia., New Caledonia., New Caledonia., New Caledonia., France., New Caledonia., New Caledonia., New Caledonia., New Caledonia., New Caledonia., New Caledonia., New Caledonia., New Caledonia., New Caledonia., New Caledonia., New Caledonia., Venezuela., ix., prevention., San Juan., Cuba., Brazil., Germany., Rotherham., Mexico., 55.,  Colombia., Colombia., Chile., Chile., USA., USA., Australia., Australia., Viet  Nam.,  Viet Nam., Australia., Australia., United Kingdom., Cuba., USA.,  The Netherlands., Brazil., Brazil., Brazil.,  The Netherlands., Brazil.,  The Netherlands., Portugal., Indonesia., Indonesia., including DENV., Indonesia., Indonesia., Indonesia., Indonesia., Indonesia., NY 10036., N., Aedes spp., USA., Brazil., Singapore., Punjab., Punjab., Punjab., Punjab., Paris.,  aggressive syndrome., etc., Inc., India., India., India., USA., USA., St., USA., USA., N., N., Vietnam., Vietnam., Nagasaki University., Sri  Lanka.,  Malaysia., US$, US$, and US$, respectively.,  Indonesia.,  Massachusetts., Dr., Indonesia.,  Massachusetts., United Kingdom., United Kingdom.,  Massachusetts., Thailand., Vietnam., India., India., India., India., India., India., India., Vietnam., N., Netherlands., Netherlands., Portugal., India., UK., Netherlands., Brazil., Brazil., UK., etc., Nice., France., N., U., and cough., and leukopenia., Australia., Bhutan., Australia., Australia., Australia., Australia., Australia., Malaysia., Japan., Japan., Malaysia., Japan., Malaysia., Malaysia., Malaysia., Malaysia., Malaysia., Malaysia., Malaysia., Malaysia., Thailand., N., USA., Thailand., Bethesda.,  Maryland., and prevention., USA., Thailand., San Juan., Guadeloupe.,  Switzerland., and prevention.,  Malaysia., Indonesia.,  Indonesia., UK., Providence., Providence., N., Cuba., Singapore., USA., USA.,  USA.,  USA., USA., Belgium.,  USA., USA., 2015., 20., 15., Palestine., Palestine., India., India., USA., USA., respectively., Thailand., Switzerland., India., Switzerland., Switzerland., Brazil.,  Brazil., remains symptomatic., France., U., USA.,  Italy., Italy.,  Italy., Italy., Italy.,  Italy., Italy.,  Italy., Italy., UK., UK., Brazil., Brazil., Singapore 117549., Singapore 138675., Singapore 308442., Singapore 117549., Singapore 308442., Singapore 308433.,  Singapore 117597., Singapore 636921., Singapore 308442., Singapore 308433.,  Singapore 117597., Singapore 636921., Singapore 117549., Singapore 308433., Singapore 117549., Belgium., Belgium., Belgium.,  Brazil.,  Brazil., Nicaragua., Brazil., Sri Lanka., N., Australia., Australia., Australia., Australia., Australia., Australia., Australia., Australia., Canada., United  Kingdom., Canada., Peru., Peru., Canada., Canada., India., India., India., USA., USA.,  USA., USA., USA., USA., N., were calculated., Kottiyam., were uncommon., and hyponatremia., without mortality., Israel., were included., southern Vietnam., The Netherlands., UK  david., Indonesia., Indonesia., Indonesia., Indonesia.,  respectively.,  USA., India.,  USA., India., India., India., India., India., S.,  Brasil., New Delhi., respectively.,  respectively., India., Maryland., India., India., India., India., India., India., India., Venezuela., Sri Lanka., Kerala., India., Kerala., Kerala., Paris., Malaysia., Sri Lanka., Sri Lanka., Sri Lanka., Sri Lanka., Sri Lanka.,  Sri Lanka., Sri  Lanka., UK., UK., UK., UK.,  USA.,  Indonesia., Vietnam., UK., Indonesia., UK., UK., UK., UK., UK., UK., USA., USA., UK., UK., USA., UK., UK.,  USA., UK., UK., D., Colombia., is terrifying., Oslo., India., Cuba.,  France., Senegal.,  France., Australia.

In [36]:
zip_coordinates = {}
with open('..Tarea2/coordenadas.txt') as f:

IndentationError: expected an indented block (Temp/ipykernel_15436/2856230262.py, line 2)

In [38]:
len(string)

5989

In [86]:
unique_countries[:10]

['USA', 'USA', 'USA', 'USA', 'UK', 'UK', 'UK', 'USA', 'UK', 'UK']